# Python virtual environments
venv/
env/
backend/venv/
backend/venv310/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
*.env
.env.*

# Passwords
password.txt
passwords.txt
backend/fix_passwords.py


# Node
node_modules/

# Build
dist/
build/