# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
backend/venv/
backend/venv310/

# Environment variables
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
